{
  "TorrentDir": "${SNAP_COMMON}/torrent",
  "APIListen": "0.0.0.0:80",
  "DBPath": "${SNAP_COMMON}/",
  "GethURL": "http://127.0.0.1:8545",
  "DockerEndpoint": "unix:///var/run/docker.sock",
  "StaticWebContent": "${SNAP}/srv/static",
  "PublicKeyPath": "${SNAP_DATA}/anax/mtn-publicKey.pem",
  "CACertsPath": "${SNAP_DATA}/anax/horizon.pem",
  "MicropaymentEnforced": true,
  "DefaultCPUSet": "",
  "WorkloadROStorage": "${SNAP_COMMON}/workload_ro"
}
